<% if (session.authorized) { %>

<% nav_context = 'collection'; %>
<% include ../admin-heading.ejs %>

<style>
	.results.flow {
		display: none;
	}
</style>

<script>
	$(function () {
		$('.edit-modal-open').click(function () {
			pfs.modal.open('.modal-container');
		});
		$('.edit-modal-close').click(function () {
			pfs.modal.close('.modal-container');
		});

		$('.list-styles a').on('click', function (e) {
			e.preventDefault();
			e.stopPropagation();

			$('.list-styles a').removeClass('active');
			$(this).addClass('active');

			style = $(this).attr('data-style');
			$('.results').hide();
			$('.results.' + style).show();
		});

		// $('#description').html(availableSizes['large'].description);
	});
</script>

<div class="collection-container">
	<h1 class="align-center" style="padding-bottom:0"><%= collection.name %></h1>

	<%
		var nextcount = 0;
		if ((limit * page) < count) {
			nextcount = limit * page;
		} else {
			nextcount = count;
		}
	%>

	<p class="align-center" style=""><em>Showing <strong><%= limit * (page - 1) + 1 %></strong> - <strong><%= nextcount %></strong> out of <strong><%= count %></strong> photos</em></p>

	<p class="align-center list-styles">
		List style:
		<a href="" class="btn sm active" data-style="list">
			List
		</a>
		<a href="" class="btn sm" data-style="flow">
			Flow
		</a>
	</p>

	<p class="align-center">
		<a class="btn sm edit-modal-open" href="#">Edit Collection</a>
	</p>

	<p>
		<% _.each(collection.keywords, function (keyword) { %>
		<a href="#" class="tag">
			<%= keyword %>
		</a>
		<% }); %>
	</p>

	<% if (count === 0) { %>
	<p>&nbsp;</p>
	<h3 class="align-center">Sorry, There are no photos in this collection. Would you like to Add Photos?</h3>
	<% } else { %>

	<div class="results list">
		<div class="row">
			<div class="col-8">
				<em>Details</em>
			</div>
			<div class="col-4">
				<em>Dimensions</em>
			</div>
		</div>
		<hr/>
		<% _.each(photos, function (photo) { %>
		<div class="row">
			<div class="col-8">
				<img class="thumbnail" src="<%= photo.image_url_thumb %>"/>
				<p>
					<a href="/photo/<%= photo.photo_id %>/<%= photo.url %>">
						PFS-<%= photo.photo_id %> - <%= photo.name %>
					</a>
					<br/>
					SEO URL:
					<%= photo.url %>
					<br/>
					<!-- Collection(s):
							<% // _.each(photo.collections, function (keyword) {   %>
								<span class="tag">
									<% // keyword   %>
								</span>
							<% // });   %>
						<br />
						Orientation: <span class="tag"><%= photo.orientation %></span>
						<br /> -->
					<!-- Database ID: <code><% // photo.id   %></code> -->

				</p>
				<p>
					<% _.each(photo.keywords, function (keyword) { %>
					<a href="#" class="tag">
						<%= keyword %>
					</a>
					<% }); %>
				</p>
			</div>
			<div class="col-4">
				<div class="row">
					<div class="col-4">
						<strong>Small</strong>
						<br/>
						<%
							var small_px = photo.height_small + ' x ' + photo.width_small;
							var small_mp = Math.round(((photo.height_small * photo.width_small) / 1000000) * 10) / 10;
							var small_un = Math.round((photo.height_small / 300) * 10) / 10 + '" x ' + Math.round((photo.width_small / 300) * 10) / 10 + '" @ 300 dpi';
						%>

						<span style="font-size: 0.7em;">
								<%= small_px %>
							<br/>
								<strong><%= small_mp %></strong> Megapixels
								<br/>
							<%= small_un %>
							</span>
					</div>
					<div class="col-4">
						<strong>Medium</strong>
						<br/>
						<%
							var medium_px = photo.height_medium + ' x ' + photo.width_medium;
							var medium_mp = Math.round(((photo.height_medium * photo.width_medium) / 1000000) * 10) / 10;
							var medium_un = Math.round((photo.height_medium / 300) * 10) / 10 + '" x ' + Math.round((photo.width_medium / 300) * 10) / 10 + '" @ 300 dpi';
						%>

						<span style="font-size: 0.7em;">
								<%= medium_px %>
							<br/>
								<strong><%= medium_mp %></strong> Megapixels
								<br/>
							<%= medium_un %>
							</span>
					</div>
					<div class="col-4">
						<strong>Large</strong>
						<br/>
						<%
							var large_px = photo.height_orig + ' x ' + photo.width_orig;
							var large_mp = Math.round(((photo.height_orig * photo.width_orig) / 1000000) * 10) / 10;
							var large_un = Math.round((photo.height_orig / 300) * 10) / 10 + '" x ' + Math.round((photo.width_orig / 300) * 10) / 10 + '" @ 300 dpi';
						%>

						<span style="font-size: 0.7em;">
								<%= large_px %>
							<br/>
								<strong><%= large_mp %></strong> Megapixels
								<br/>
							<%= large_un %>
							</span>
					</div>
				</div>
			</div>
		</div>
		<hr/>

		<% }); %>
	</div>
	<div class="results flow">
		<div class="photos">
			<% _.each(photos, function (photo) { %>
			<a href="/photo/<%= photo.photo_id %>/<%= photo.url %>"
			   class="photo <%= photo.orientation %>"
			   style="background-image: url(<%= photo.image_url_thumb %>)">
				<img src="<%= photo.image_url_thumb %>"/>
				<span class="label">
				<%= photo.name %>
			</span>
			</a>
			<% }); %>
		</div>
	</div>
	<p class="align-center">
		<% if (page > 1) { %>
		<a href="/admin/collection/<%= collection.url %>?page=<%= (page * 1) - 1 %>" class="btn">
			Previous
		</a>
		<% } %>
		&nbsp;
		<% if (page * limit <= count) { %>
		<a href="/admin/collection/<%= collection.url %>?page=<%= (page * 1) + 1 %>" class="btn">
			Next
		</a>
		<% } %>
	</p>
	<% } %>
</div>

<div class="modal-container" style="display:none">
	<div class="modal">
		<div class="modal-heading">
			Edit
			<%= collection.name %>
		</div>
		<form method="POST" action="<%= collection.id %>">
			<div class="inputs stacked">
				<div class="input full">
					<label for="thumbnail">Thumbnail</label>
					<div class="field align-left">
						<p>
							<img class="thumbnail" src="<%= collection.image_url_thumb %>"/>
							<br/>
							<button class="btn primary" type="" value="">Select Thumbnail</button>
						</p>
					</div>
				</div>
				<div class="input full">
					<label for="name">Collection Name</label>
					<div class="field">
						<input id="name" type="text" value="<%= collection.name || '' %>" name="name" placeholder="Collection Name">
					</div>
				</div>

				<div class="input full">
					<label for="name">Description</label>
					<div class="field">
						<input id="description" type="text" value="<%= collection.description || '' %>" name="description" placeholder="Description">
					</div>
				</div>

				<div class="input full">
					<label for="keywords">Keywords</label>
					<div class="field">
						<input id="keywords" type="text" value="<%= collection.keywords %>" name="keywords" placeholder="Enter tags separated by commas.">
					</div>
					<p>
						<% _.each(collection.keywords, function (keyword) { %>
						<a href="#" class="tag">
							<%= keyword %>
						</a>
						<% }); %>
					</p>
				</div>

				<div class="input full">
					<div class="field align-right">
						<button class="btn edit-modal-close">Cancel</button>
						<button class="btn primary" type="submit" value="submit">Save</button>

						<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
					</div>
				</div>

			</div>
		</form>

	</div>
</div>

<% } %>