<%  if (session.authorized) { %>

<% nav_context = 'collections'; %>
<% include ../admin-heading.ejs %>


<style>
	.error {
		display: none;
		color: red;
	}
</style>
<script>
$(function () {


	// CREATE ----------------------
	$('.create-modal-open').on('click', function (event) {
		event.preventDefault();

		$('#create-name').val('');
		$('#create-thumb').val('');

		pfs.modal.open('.modal-container.create');
	});

	$('.create-modal-close').on('click', function (event) {
		event.preventDefault();
		pfs.modal.close('.modal-container.create');
	});

	$('.create-modal-submit').on('click', function () {
		// taking advantage of the native form functionality
	});

	// EDIT ------------------------
	$('.edit-modal-open').on('click', function (event) {
		event.preventDefault();
		let collection_id = $(this).attr('data-collection-id');
		let thumb = $(this).attr('data-collection-thumb');
		let name = $(this).attr('data-collection-name');

		$('#edit-name').val(name);
		$('#edit-thumb').val(thumb);
		$('#edit-id').val(collection_id);

		pfs.modal.open('.modal-container.edit');
		$('form#edit').attr('action', '/admin/collection/'+collection_id);
	});

	$('.edit-modal-close').on('click', function (event) {
		event.preventDefault();
		pfs.modal.close('.modal-container.edit');
	});

	$('.create-modal-submit').on('click', function () {
		// taking advantage of the native form functionality
	});

})
</script>

<hr />
<div class="row">
	<div class="col-6">
		<a href="#create" class="btn sm create-modal-open">+ Add New Collection</a>
	</div>
	<div class="col-6 align-right">
	</div>
</div>

<% if (flash && flash.err) { %>
	<p><em style="color: #f1631b"><%= flash.err.message %></em></p>
<% } %>

<h1 class="align-center" style="padding-top: 0; margin-top: 0; padding-bottom:0">All collections </h1>
	<%
		var nextcount = 0;
		if ((limit*page) < count) {
			nextcount = limit*page;
		} else {
			nextcount = count;
		}
	%>

	<p class="align-center" style="padding-bottom:2em"><em>Showing <strong><%= limit*(page-1)+1 %></strong> - <strong><%= nextcount %></strong> out of <strong><%= collections.length %></strong> collections.</em></p>

	<!-- <div class="align-center">
		<div class="search">
			<form onsubmit="return pfs.search();">
				<% var icon='ios7-search-filled' %>
				<%// include ../common/icon.ejs %>
				<input id="globalSearch" placeholder="Search Collections..." type="text">
			</form>
		</div>
		<br />
	</div> -->

<div class="results list">
	<div class="row">
		<div class="col-8">
			<em>Details</em>
		</div>
		<div class="col-4">
			<em>Summary</em>
		</div>
	</div>
	<hr />
	<% _.each(collections, function (collection) { %>
		<div class="photo-row">
			<div class="row">
				<div class="col-1">
					<a class="tag edit-modal-open"
						href="#edit"
						data-url="/admin/collection"
						data-collection-id="<%= collection.collection_id %>"
						data-collection-name="<%= collection.name %>"
						data-collection-thumb="<%= collection.photo %>"
					>
						Edit
					</a>
					<!-- <a class="tag delete"
						href="#delete"
						data-url="/admin/collection"
						data-photo-id="<%= collection.collection_id %>"
					>
						Delete
					</a> -->
				</div>
				<div class="col-8">
					<img class="thumbnail" src="<%= collection.image_url_thumb %>">
					<p>
						<a href="/admin/collection/<%= collection.url %>">
							<strong><%= collection.name %></strong>
						</a>
						<br />
						<small>
							<em>Created:</em> <%= moment(collection.createdAt).format('ddd, MMM D, YYYY') %>
							<br />
							<em>Last Updated:</em> <%= moment(collection.updatedAt).format('ddd, MMM D, YYYY') %>
						</small>
						<br />
						</span>
					</p>
					<p>
						<% _.each(collection.keywords, function (keyword) { %>
							<a href="#" class="tag">
								<%= keyword %>
							</a>
						<% }); %>
					</p>

					<!-- <pre><%// JSON.stringify(collection, null, ' ') %></pre> -->

				</div>
				<div class="col-3">
					<div class="row">
						<div class="col-4">
							<strong>Photos</strong>
							<br />

							<span style="font-size: 0.7em;">
								<strong><%= collection.total_photos %></strong> photos
							</span>
						</div>
						<div class="col-4">

						</div>
						<div class="col-4">

						</div>
					</div>
				</div>
			</div>
		</div>

	<% }); %>
</div>


<div class="modal-container create" style="display:none">
	<div class="modal">
		<div class="modal-heading">Add New Collection</div>
		<form method="POST" action="/admin/collection" id="create">
			<div class="inputs stacked">
				<input type="hidden" id="_create-csrf" name="_csrf" value="<%= _csrf %>"/>
				<div class="input full">
					<label for="create-name">Name*</label>
					<div class="field">
						<input type="text" id="create-name" name="name" value="" placeholder="Name">
						<small class="error" id="create-name-error">Name is required.</small>
					</div>
				</div>
				<p>Choose the numeric ID of an existing photo to use as a thumbnail, e.g. "8033"</p>
				<div class="input full">
					<label for="create-thumb">Thumbnail Photo</label>
					<div class="field">
						<input type="text" id="create-thumb" name="thumb" value="" placeholder="Photo ID to use as thumbnail, e.g. '8033'">
						<small class="error" id="create-thumb-error">Thumbnail (Photo ID) is required.</small>
					</div>
				</div>
				<div class="input full">
					<div class="field align-right">
						<button class="btn create-modal-close" type="button">Cancel</button>
						<button class="btn primary create-modal-submit" type="submit" value="submit">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal-container edit" style="display:none">
	<div class="modal">
		<div class="modal-heading">Add New Collection</div>
		<form method="POST" action="" id="edit">
			<div class="inputs stacked">
				<input type="hidden" id="edit-id" name="id" />
				<input type="hidden" id="_edit-csrf" name="_csrf" value="<%= _csrf %>"/>
				<div class="input full">
					<label for="edit-name">Name*</label>
					<div class="field">
						<input type="text" id="edit-name" name="name" value="" placeholder="Name">
						<small class="error" id="edit-name-error">Name is required.</small>
					</div>
				</div>
				<p>Choose the numeric ID of an existing photo to use as a thumbnail, e.g. "8033"</p>
				<div class="input full">
					<label for="edit-thumb">Thumbnail Photo</label>
					<div class="field">
						<input type="text" id="edit-thumb" name="thumb" value="" placeholder="Photo ID to use as thumbnail, e.g. '8033'">
						<small class="error" id="edit-thumb-error">Thumbnail (Photo ID) is required.</small>
					</div>
				</div>
				<div class="input full">
					<div class="field align-right">
						<button class="btn edit-modal-close" type="button">Cancel</button>
						<button class="btn primary edit-modal-submit" type="submit" value="submit">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<% } %>