<style>
.contact {
	margin-top: 6em;
	box-shadow: 0 40px 40px rgba(0, 0, 0, 0.05), 0 20px 30px rgba(0, 0, 0, 0.1);
}

.address-info {
	padding-top: 6em;
}

@media (max-width: 1023px) {
	.contact {
		width: 100%;
		margin-top: 4em;
	}

	.contact-panel {
		flex-basis: 100%;
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.contact {
		width: 100%;
		margin-top: 1em;
	}
}
</style>

<div class="row">
	<div class="col-2"></div>
	<div class="col-4 contact-panel">
		<div class="panel lg contact">
			<div class="panel-heading">
				Contact Us
			</div>

			<% if (flash && flash.err) { %>
				<p><em style="color: #f1631b"><%= flash.err.message %></em></p>
			<% } %>

			<% if (flash && flash.success) { %>
				<p><em style="color: #5dd318"><%= flash.success.message %></em></p>
			<% } %>

			<p>Do you need some help or just want to drop us a line? Fill out the form below and click submit to send us a message.</p>
			<form method="POST" action="/contact">
				<div class="inputs stacked">
					<div class="input full">
						<label for="email">Email address</label>
						<div class="field">
							<input id="email" type="email" name="email" placeholder="sara@example.com">
						</div>
					</div>

					<div class="input full">
						<label for="message">Message</label>
						<div class="field">
							<textarea id="message"  name="message" placeholder="Type your message here."></textarea>
						</div>
					</div>

					<div class="input full">
						<div class="field align-right">
							<button class="btn primary" type="submit" value="submit">Submit</button>
							<hr />
							<input type="hidden" name="_csrf" value="<%= _csrf %>" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="col-4 address-info contact-panel">
		<p><strong>Pick Food Stock</strong><br />
		P.O. Box 161716<br />
		Altamonte Springs, FL 32716</p>
		<hr />
		<p><strong>Check us out on your favorite social network!</strong></p>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57fd89abd4585da1"></script>
		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<div class="addthis_inline_follow_toolbox"></div>
	</div>

</div>