/* Colors */
$primary-color: #00afd7;
$secondary-color: #ff6720;
$font-color: #003349;

/* Fonts */
$header-font: "Verlag-Black","Century Gothic", CenturyGothic, AppleGothic, Muli, Helvetica, Arial, sans-serif;
$normal-font: "Verlag-Book","Century Gothic", CenturyGothic, AppleGothic, Muli, Helvetica, Arial, sans-serif;

html,body,table,tbody,tr,td,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $normal-font;
    background-color: #fff;
    color: $font-color;
    letter-spacing: 1.5px;
}

.bodyContainer {
    background-color: #f7f7f7;
}

table {
    margin: 0;
    border: none;
    box-sizing: border-box;
    border-spacing: 0;
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    mso-margin-top-alt:0px;
    mso-margin-bottom-alt:0px;
}

td {
    border-collapse: collapse;
}

tr {
    // font-size:0px;
    // line-height:0px;
}

td {
    box-sizing: border-box;
}


/* Includes from email frameworks. */
.ExternalClass {
    width: 100%;
}

.ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div {
    line-height: 100%;
}

.ReadMsgBody {
    width: 100%;
}

img {
    margin: 0;
    padding: 0 !important;
    -ms-interpolation-mode: bicubic;
}

/* fonts */
h1,h2,h3,h4,h5 {
    font-family: $header-font !important;
    color: $font-color
}

h1,h2,h3,h4,h5 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 700; 
    text-transform: uppercase;   
}

/* Font Sizes. */
h1 {
    font-size: 30px;
    line-height: 34px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

h4 {
    font-size: 18px;
    line-height: 21px;
}

h5 {
    font-size: 16px;
    line-height: 21px;
}

p {
    font-size: 18px;
    line-height: 23px;
    font-family: $normal-font;
    font-weight: 400 !important;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    color: $font-color;
}

blockquote {
    font-size: 16px;
    line-height: 20px;
    font-family: $normal-font;
    font-style: italic;     
    padding:20px 40px 20px 20px;
    margin:30px 0;
    border:0px none;
    border-left: 16px solid #7d7d7d;
    color:inherit;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

ol {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    font-size: 18px;
    line-height: 1.25;
    padding:0 !important;
    font-family: $normal-font;
    color: $font-color;
}

a {
    color:$primary-color;
    text-decoration:underline;

    &:visited {
        color:$primary-color;
    }

    &:hover {
        color:$primary-color;
    }
}

a:link, a:hover, a:visited {
    color: darken($primary-color, 20%);
    text-decoration:underline;
}

a:hover {
    opacity: 0.8;
}

/* Theme Specifics */
.filler {
    padding: 1px !important;
}

    & .col25:last-child {
        & td {
            & p {
                text-align: right;
            }
        }
    }

    & h4 {
        color: #444;
    }
}

.primaryBtn {
	background-color: $primary-color;
	padding: 16px;
    width: 200px;

    & a {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        font-family: $header-font;
        text-transform: uppercase;
        text-decoration: none !important;
    }
}

.primaryBtnSm {
    background-color: $primary-color;
    padding: 4px;
    width: 150px;

    & a {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        font-family: $header-font;
        text-transform: uppercase;
        text-decoration: none !important;
    }
}

.inverse {
    & h1,h2,h3,h4,h5,p {
        color: #fff;
    }

    & p {
        font-weight: 500;
    }
}

.muted {
    & p {
        font-family: $header-font !important;
        color: #777 !important;
        font-size: 16px !important;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Column CSS: Drop-calc */
.col20 {
    width: calc(20%);
}

.col25 {
    width: calc(25%);
}

.col30 {
    width: calc(30%);
}

.col40 {
    width: calc(40%);
}

.col50 {
    width: calc(50%);
}

.col60 {
    width: calc(60%);
}

.col70 {
    widtah: calc(70%);
}

.col75 {
    width: calc(75%);
}

.col25, .col30, .col40, .col50, .col60, .col70, .col75 {
    display: inline-block;
} 

.verticalSpace {
    padding-top: 16px;
    padding-bottom: 16px;
}

.emailCheck {
    padding-top: 40px;
    padding-bottom: 8px;

    & p { 
        font-size: 12px;
    }
}

.blackBG {
    background-color: #000;
}

.darkBG {
    background-color: #333;
}

.header {
    background-color: #fff;
    padding-top: 20px !important;
    padding-bottom: 24px;
}

.primaryBG {
    background-color: #f7f7f7;
    padding-left: 20px;
    padding-right: 20px;

    color: #555;

    & h5 {
        padding-top: 16px;
    }
}

.primaryBox {
    padding-top:20px;
    padding-bottom: 2px;
}

.primaryBoxEnd {
    padding-bottom: 32px;
}

.emailBody {
    padding-top: 52px;
    background-color: #fff;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 52px;

    & p {
        padding-top: 24px;
    }
}

.greySection {
    padding-top: 52px;
    padding-left: 52px;
    padding-right: 52px; 
    padding-bottom: 52px;
    background-color: rgba(229,225,230,.35);
    p {
        padding-top: 24px;
    }
}

.bold {
    & p {
        font-weight: 600;
    }
}

.bc_item {
    padding-top: 32px;
    padding-bottom: 32px;
    
    & td:not(.primaryBtnSm) {
        padding-bottom: 16px;
    }
}

.shopLink {
    padding-top: 16px;

    & p {
        text-transform: uppercase;
    }
}

.summaryHeading {
    h3 {
        padding-top:16px;
        padding-bottom: 12px;
    }

    h2 {
        padding-top:40px;
        padding-bottom: 12px;
    }
}

.mainHeader {
    padding-top: 32px;
    padding-left: 52px;
    padding-right: 52px;
}

.contained {
    padding-left: 20px;
    padding-right: 20px;
}

.actionContainer {
    padding-top: 32px;
    padding-bottom: 40px;
}

.shippingInfo {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 20px;    
    padding-right: 20px;
    background-color: #f9f9f9;

    & p {
        font-size: 16px;
    }    
}

.footerColumns {
    padding-top: 32px;
    padding-bottom: 32px;

    & h2 {
        padding-top: 12px;
    }
}

.largerP {
    p {
        font-size: 16px;
    }
}

.shippingInfoTable {
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;

    background-color: #f9f9f9;

    & h4 {
        padding-bottom: 8px;
        color: #555;
        // border-bottom: 1px solid #777;        
    }

    & p {
        &:last-child {
            padding-bottom: 32px;
        }
    }
}

.bodyImage {
    background-color: #fff;
    padding-top: 32px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 52px;
}

.instagramHeader {
    padding-top: 16px;
    padding-bottom: 16px;
}

.instagramFooter {
    padding-top: 8px;
    padding-bottom: 8px;
}

.socialRow {
    padding-top: 16px;
    padding-bottom: 32px;
}

.footer {
    background-color: $primary-color;
    padding-left: 52px;
    padding-right: 52px;
}

.terminal {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: $font-color;
}

.small {
    padding-top: 8px;

    & p  {
        font-size: 14px;

        &:last-child {
            padding-top: 12px;
        }
    }
}
.onlineLink {
    padding-top:8px;
    padding-bottom: 8px;

    & p {
        font-size: 15px;
    }

}
.secondaryBg {
    background-color: $secondary-color;
}

/* Responsive Styles */
@media all and (max-width: 639px) {
    .muted {
        display: none !important;
    }

    .emailBody {
        & .col40>tbody>tr>td {
            padding-right: 20px !important;
        }
    }

    .@media all and (max-width:500px) {
        .header-date {
            margin-top: -19% !important;
        }
    }
}