<style>
@media all and (max-width: 599px) {
    .reorder {
        width: 100% !important;
    }
}
</style>

<!-- Container and Screen Width Styles -->
<style>
    .container640 {
        width: 640px;
        max-width: 100%;
    }

    @media all and (max-width: 640px) {
        .container640 {
            width: 100% !important;
        }
    }

    @media all and (max-width: 639px) {
        .reorder {
            width: 100% !important;
        }
    }
</style>
<style>
@media all and (max-width: 639px) {
    .muted {
        display: none !important;
    }
    
    .orderTable {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .orderTable .col25:last-child td p {
        text-align: left !important;
    }
    .emailBody .col40>tbody>tr>td {
            padding-right: 20px !important;
    }
    .shippingInfoTable p {
        text-align: center !important;
    }
   
}
</style>

<!-- Column widths not to inline -->
<style>
    .col20 {
        width: 20%;
    }
    
    .col25 {
        width: 25%;
    }

    .col80 {
        width: 80%;
    }
    
	.col60 {
	    width: 60%;
	}

	.col50 {
	    width: 50%;
	}

	.col20 {
	    width: 20%;
	}

	.col40 {
	    width: 40%;
	}

    .col75 {
        width: 75%;
    }
</style>

<style>
    @media all and (max-width: 639px) {
        .phone {
            margin-top:0 !important;
        }
    }
</style>

<!--[if lt IE 8]>  
<style>  
    .container##WIDTH##{
        width: ##WIDTH##px;
    }
</style> 
<![endif]-->

<!--[if gte mso 9]>
<style>
    .mso-font-fix {
      font-family: proxima-nova, 'Avenir Next', Montserrat, Helvetica, Arial, sans-serif;
    }
    .mso-phone-fix {
        padding-top: 20px;
    }
</style>
<![endif]-->

<!--[if gte mso 9]>
<style>
    .mso-font-fix {
      font-family: proxima-nova, 'Avenir Next', Montserrat, Helvetica, Arial, sans-serif;
    }
    .mso-phone-fix {
        padding-top: 20px;
    }
</style>
<![endif]-->
</head>