html,body,table,tbody,tr,td,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Helvetica, Arial, sans-serif;
    background-color: #eee;
}
table {
    margin: 0;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    mso-margin-top-alt:0px;
    mso-margin-bottom-alt:0px;
}
tbody,tr,td {
    border-collapse: collapse;
}
tr {
    font-size:0px;
    line-height:0px;
}
.ExternalClass {
    width: 100%;
}
.ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div {
    line-height: 100%;
}
.ReadMsgBody {
    width: 100%;
}
img {
    padding:0;
    -ms-interpolation-mode: bicubic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Axiforma, Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 30px;
    line-height: 34px;
    padding-top: 0px;
    padding-bottom: 0px;
}
h3 {
    font-size: 20px;
    line-height: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
}
h4 {
    font-size: 18px;
    line-height: 21px;
    padding-top: 0px;
    padding-bottom: 0px;
}
h5 {
    font-size: 16px;
    line-height: 21px;
    padding-top: 0px;
    padding-bottom: 0px;
}
p {
    font-size: 18px;
    line-height: 1.25;
    font-family: Axiforma, Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    margin-bottom:0;
}
blockquote {
    font-size: 16px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    font-style: italic;     
    padding:20px 40px 20px 20px;
    margin:30px 0;
    border:0px none;
    border-left: 16px solid #7d7d7d;
    color:inherit;
}
ul {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
ol {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
li {
    font-size: 18px;
    line-height: 2.0;
    font-family: Axiforma, Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Helvetica, Arial, sans-serif;
}
a {
    color:#fff;
    text-decoration:underline;
}
a:link, a:hover, a:visited {
    color:#fff;
    text-decoration:underline;
}
a:hover {
    opacity: 0.8;
}
    
h1 {
    color: #f47d1f;
}
h3 {
    color: #006940;
}
h5 {
    color: #006940;
}
h3 {
    font-weight: 600;
}
h4 {
    font-size: 16px;
    font-weight: 500;
}
h5 {
    font-weight: 600;
}
h1 {
    font-family: Axiforma, Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.grey-row {
	background-color: #dedede;
	padding: 40px;
}
.primary-btn {
	background-color: #3f3f3f;
	padding: 20px;
	color: #fff;
}