main {
  padding: 0px 60px !important;
}

.case-study-width {
  padding: 0 100px;
  padding-bottom: 64px;
}

.case-study-width .fusion-flexslider {
  margin-top: -75px;
}

.case-study-width h2 {
	margin-top: 20px;
	font-size: 36px;
}

.testimonial-wrapper {
	background-color: #f2f2f2 !important;
	text-align: center;
}

.testimonial-left-quote {
	float:left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:200px;
	color:#f1d241;
}

.testimonial-right-quote {
	float:right;
	margin-top: -30px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:200px;
	line-height: 10px;
	color:#f1d241;
}

.testimonial-container {
	padding: 64px 100px;
}

.testimonial {
	font-size: 50px;
	line-height: 60px;
}

.name {
	margin-top: 16px;
	font-size: 24px;
}

@media all and (max-width: 786px) {
	.case-study-width {
		padding: 0 0 60px 0;
	}

	.case-study-width h2 {
		font-size: 24px;
	}

	.testimonial-left-quote {
		font-size: 100px;
	}

	.testimonial-right-quote {
		font-size: 100px;
	}

	.testimonial-container {
		padding: 64px 0;
	}

	.testimonial {
		font-size: 36px;
	}

	.name {
		font-size: 20px;
	}
}