@keyframes blink-animation{50%{opacity:0}}@-webkit-keyframes blink-animation{50%{opacity:0}}#mapContainer img{width:100%}#sittersMap{position:absolute;top:0;left:0}.locationFlag{position:absolute;transition:filter 0.3s ease-in-out}.locationFlag:hover{filter:drop-shadow(0px -5px 16px rgba(47,41,81,0.25));-webkit-filter:drop-shadow(0px -5px 16px rgba(47,41,81,0.25));cursor:pointer}.cursor{color:#000;animation:blink-animation 1.3s infinite;-webkit-animation:blink-animation 1.3s infinite}.st0{opacity:0.25}.st1{fill:none}.st2{fill:#F5CE3E}.st3{fill:#FFFFFF}
/*# sourceMappingURL=styles.css.map */
