/* Variables and Mixins */
$shadowColor: rgba(47,41,81,.25);

@mixin slowTransition($type) {
	transition: $type .3s ease-in-out;
}

@mixin shadowHover {
	filter: drop-shadow(0px -5px 16px $shadowColor);
	-webkit-filter: drop-shadow(0px -5px 16px $shadowColor);
}

/* Animations */
@keyframes blink-animation {
	50% {
		opacity: 0;
	}
}

@-webkit-keyframes blink-animation {
	50% {
		opacity: 0;
	}	
}

#mapContainer {
	& img {
		width: 100%;
	}
}

#sittersMap {
	position: absolute;
	top: 0;
	left: 0;
}

.locationFlag {
	position: absolute;
	@include slowTransition(filter);

	&:hover {
		@include shadowHover;
		cursor: pointer;
	}
}

.cursor {
	color: #000;
	animation: blink-animation 1.3s infinite;
  	-webkit-animation: blink-animation 1.3s infinite; 
}

/* Styles from SVG */
.st0{opacity:0.25;}
.st1{fill:none;}
.st2{fill:#F5CE3E;}
.st3{fill:#FFFFFF;}