<style>
	@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,600,700');
	@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
</style>
<!--[if !mso]>
	<link href=”https://fonts.googleapis.com/css?family=Rajdhani" rel=”stylesheet”>
	<link href=”https://fonts.googleapis.com/css?family=Montserrat" rel=”stylesheet”>
<![endif] -->