/* Colors */
$primary-color: rgb(255,0,0);
$secondary-color: rgb(0,0,0);

/* Fonts */
$header-font: 'Rajdhani', Helvetica, Arial, sans-serif;
$normal-font: 'proxima-nova', 'Avenir Next', Montserrat, Helvetica, Arial, sans-serif;

html,body,table,tbody,tr,td,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $normal-font;
    background-color: #fff;
}

.bodyContainer {
    background-color: #fff;
}

table {
    margin: 0;
    border: none;
    box-sizing: border-box;
    border-spacing: 0;
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    mso-margin-top-alt:0px;
    mso-margin-bottom-alt:0px;
}

td {
    border-collapse: collapse;
}

tr {
    // font-size:0px;
    // line-height:0px;
}

td {
    box-sizing: border-box;
}


/* Includes from email frameworks. */
.ExternalClass {
    width: 100%;
}

.ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div {
    line-height: 100%;
}

.ReadMsgBody {
    width: 100%;
}

img {
    margin: 0;
    padding: 0 !important;
    -ms-interpolation-mode: bicubic;
}

/* fonts */
h1,h2,h3,h4,h5 {
    font-family: $header-font !important;
}

h1,h2,h3,h4,h5 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 700; 
    text-transform: uppercase;   
}

/* Font Sizes. */
h1 {
    font-size: 30px;
    line-height: 34px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

h4 {
    font-size: 18px;
    line-height: 21px;
}

h5 {
    font-size: 16px;
    line-height: 21px;
}

p {
    font-size: 14px;
    line-height: 20px;
    font-family: $normal-font;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    /* primaryundancy is necessary here for some email platforms which ignore generic rules. */
}

blockquote {
    font-size: 16px;
    line-height: 20px;
    font-family: $normal-font;
    font-style: italic;     
    padding:20px 40px 20px 20px;
    margin:30px 0;
    border:0px none;
    border-left: 16px solid #7d7d7d;
    color:inherit;
}

ul {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ol {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    font-size: 18px;
    line-height: 2.0;
    font-family: $normal-font;
}

a {
    color:$primary-color;
    text-decoration:underline;

    &:visited {
        color:$primary-color;
    }

    &:hover {
        color:$primary-color;
    }
}

a:link, a:hover, a:visited {
    color: darken($primary-color, 20%);
    text-decoration:underline;
}

a:hover {
    opacity: 0.8;
}

/* Theme Specifics */
.filler {
    padding: 1px !important;
}

.orderTable {
    padding-left:20px;
    padding-right: 20px;

	background-color: #f9f9f9;
    
    & :not(.orderTableTop) {
        & td {
            padding-top: 0px !important;
        }
    }

    & :not(.orderTableEnd) {
        & td {
            padding-bottom: 0 !important;
        }
    }

    & :not(.orderTableTop, .orderTableEnd) {
        padding-top: 2px !important;
        // padding-bottom: 2px !important;
    }

    & .col25:last-child {
        & td {
            & p {
                text-align: right;
            }
        }
    }

    & h4 {
        color: #444;
    }
}

.orderTableItem {

    & >table>tbody>tr>td {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        border-bottom: 1px solid #a0a0a0;
    }

    & p {
        font-weight: 500;
    }
}

.orderTableTop {
    padding-top: 6px;
    padding-bottom: 16px;
    background-color: #393939;

    & >table>tbody>tr>td {
        border-bottom: none !important;
    }
}

.orderTableLast {
    padding-bottom: 12px;
}

.orderTableEnd {
    & >table>tbody>tr>td {
        padding-top: 12px !important;
        padding-bottom: 20px !important;
        border-top: 2px solid #a0a0a0;
    }
}

.primaryBtn {
	background-color: $primary-color;
	padding: 16px;
    width: 200px;

    & a {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        font-family: $header-font;
        text-transform: uppercase;
        text-decoration: none !important;
    }
}

.primaryBtnSm {
    background-color: $primary-color;
    padding: 4px;
    width: 150px;

    & a {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        font-family: $header-font;
        text-transform: uppercase;
        text-decoration: none !important;
    }
}

.inverse {
    & h1,h2,h3,h4,h5,p {
        color: #fff;
    }

    & p {
        font-weight: 500;
    }
}

/* Spacing */
.row {
    & td {
        // padding-top:8px;
    }
}

.columns {
    & tr td {
        // padding: 1px;
    }
}

.muted {
    & p {
        font-family: $header-font !important;
        color: #777 !important;
        font-size: 16px !important;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Column CSS: Drop-calc */
.col20 {
    width: calc(20%);
}

.col25 {
    width: calc(25%);
}

.col30 {
    width: calc(30%);
}

.col40 {
    width: calc(40%);
}

.col50 {
    width: calc(50%);
}

.col60 {
    width: calc(60%);
}

.col70 {
    widtah: calc(70%);
}

.col75 {
    width: calc(75%);
}

.col25, .col30, .col40, .col50, .col60, .col70, .col75 {
    display: inline-block;

    & >tbody>tr>td {
        padding-left: 16px;
        padding-right: 16px;
    }
} 

.verticalSpace {
    padding-top: 16px;
    padding-bottom: 16px;
}

.emailCheck {
    padding-top: 40px;
    padding-bottom: 8px;

    & p { 
        font-size: 12px;
    }
}

.blackBG {
    background-color: #000;
}

.darkBG {
    background-color: #333;
}

.header {
    background-color: #000;
    padding-top: 20px !important;
    padding-bottom: 24px;
}

.primaryBG {
    background-color: #f7f7f7;
    padding-left: 20px;
    padding-right: 20px;

    color: #555;

    & h5 {
        padding-top: 16px;
    }
}

.primaryBox {
    padding-top:20px;
    padding-bottom: 2px;
}

.primaryBoxEnd {
    padding-bottom: 32px;
}

.emailBody {
    padding-left: 0px;
    padding-top: 32px;

    & .messageHeading {
        color: $primary-color;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    & .col40>tbody>tr>td {
        padding-right: 0;
    }

    & .col60>tbody>tr>td {
        padding-bottom: 32px;

        & p {
            font-size: 15px;
        }
    }
}

.bold {
    & p {
        font-weight: 600;
    }
}

.bc_item {
    padding-top: 32px;
    padding-bottom: 32px;
    
    & td:not(.primaryBtnSm) {
        padding-bottom: 16px;
    }
}

.shopLink {
    padding-top: 16px;

    & p {
        text-transform: uppercase;
    }
}

.summaryHeading {
    h3 {
        padding-top:16px;
        padding-bottom: 12px;
    }

    h2 {
        padding-top:40px;
        padding-bottom: 12px;
    }
}

.mainHeader {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
}

.contained {
    padding-left: 20px;
    padding-right: 20px;
}

.actionContainer {
    padding-top: 32px;
    padding-bottom: 40px;
}

.shippingInfo {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 20px;    
    padding-right: 20px;
    background-color: #f9f9f9;

    & p {
        font-size: 16px;
    }    
}

.footerColumns {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 16px;

    & h2 {
        padding-top: 12px;
    }
}

.largerP {
    p {
        font-size: 16px;
    }
}

.shippingInfoTable {
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;

    background-color: #f9f9f9;

    & h4 {
        padding-bottom: 8px;
        color: #555;
        // border-bottom: 1px solid #777;        
    }

    & p {
        &:last-child {
            padding-bottom: 32px;
        }
    }
}

.instagramHeader {
    padding-top: 16px;
    padding-bottom: 16px;
}

.instagramFooter {
    padding-top: 8px;
    padding-bottom: 8px;
}

.socialRow {
    padding-top:16px;
    padding-bottom: 16px;
}

.stripedDivider {
    overflow: hidden !important;

    & img {
        height: 32px !important;
    }

    &.last {
        padding-top: 0;
    }
}

.itemImage {
    padding: 4px;
}

.itemName {
    padding-top: 4px;

    & p {
        font-family: $header-font !important;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.footer {
    padding-top: 40px;
}

.small {
    padding-top: 20px;
    padding-bottom: 40px;

    & p  {
        font-size: 12px;

        &:last-child {
            padding-top: 12px;
        }
    }
}

/* Responsive Styles */
@media all and (max-width: 639px) {
    .muted {
        display: none !important;
    }

    .orderTable {
        padding-left: 40px !important;
        padding-right: 40px !important;

        & .col25:last-child {
            & td {
                & p {
                    text-align: left !important;
                }
            }
        }
    }
    
    .shippingInfoTable {
        & p {
            text-align: center !important;
        }
    }

    .emailBody {
        & .col40>tbody>tr>td {
            padding-right: 20px !important;
        }
    }
}